* {
    box-sizing: border-box;
}

body {
    background-color: #e7e7e7;
    color: white;
}

.core-margin {
    margin-top: 50vh;
}

.core-margin:last-child {
    margin-bottom: 50vh;
}

.container {
    max-width: 1400px;
    min-width: 150px;
    margin: auto;
    background-color: rgb(60 59 59);
    padding: 20px;
}

/* ===================================
=== .lesson9-a01 */

.lesson9-a01 .grid01 {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* grid-template-rows: 1fr 1fr 1fr;  */
    /* grid-auto-rows: 300px; */
    /* grid-gap: 2vw; */
}

.lesson9-a01 .grid01>div {
    font-size: 5vw;
}

.lesson9-a01 .grid>div {
    padding: .5em;
    background: #2196F3;
}

/* 
fr можно указывать дробные
grid-template-columns: 1.5fr 3fr 4.5fr;
1.5fr + 3fr + 4.5fr = 9fr
grid width 900px
1.5fr/9fr * 900px = 150px

*/

.lesson9-a01 .grid02 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 10px;
}

.lesson9-a01 .grid02>div {
    background: #21f34f;
}

.lesson9-a01 .grid03 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 100px;
    grid-gap: 10px;
}

.lesson9-a01 .grid03>div {
    background: #c41eda;
}

.box1 {
    grid-column-start: 1;
    grid-column-end: 4;
    /* grid-column: 1 / 4; */
    grid-row-start: 1;
    grid-row-end: 3;
    /* grid-row: 1 / 3; */
    /*
        grid-area: grid-row-start / grid-column-start / grid-row-end / grid-column-end
    */
    /* grid-area: 1 / 1 / 3 / 4; */
}

.box2 {
    grid-column-start: 1;
    /* grid-column: 1; */
    grid-row-start: 3;
    grid-row-end: 5;
    /* grid-row: 3 / 5; */
}

/* ===================================
=== .lesson9-s2 */

.lesson9-s2 .container {
    display: grid;
    grid-template-areas: "header header header" "nav article section" "footer footer footer";
    grid-template-rows: 60px 1fr 60px;
    grid-template-columns: 20% 1fr 15%;
    grid-gap: 10px;
    height: 100vh;
    /* margin: 0; */
}

/* .lesson9-s2 .container {
    grid-template-areas: "nav header header" "nav article section" "nav footer section";
} */

.pg-header, .pg-article, .pg-nav, .pg-section, .pg-footer {
    padding: 20px;
    background: #2196F3;
}

.pg-header {
    grid-area: header;
}

.pg-article {
    grid-area: article;
}

.pg-nav {
    grid-area: nav;
}

.pg-section {
    grid-area: section;
}

.pg-footer {
    grid-area: footer;
}

@media (max-width: 600px) {
    .lesson9-s2 .container {
        grid-template-areas: "header" "article" "section" "nav" "footer";
        grid-template-rows: 80px 1fr 70px 1fr 70px;
        grid-template-columns: 1fr;
    }
}

/* @media (max-width: 600px) {
    .lesson9-s2 .container {
        display: block;
    }
} */

/* ===================================
=== .lesson9-s1 */

.lesson9-s1 .container {
    font-size: 5vw;
    padding: .5em;
}

.lesson9-s1 .grid {
    display: grid;
    /* grid-template-rows: 1fr 1fr 1fr; */
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    /* grid-template-columns: repeat(4, 1fr); */
    /* grid-template-columns: repeat(4, minmax(150px, 1fr)); */
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    /* grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); */
    /* grid-template-columns: repeat(auto-fill, 150px); */
    /* grid-template-columns: repeat(auto-fit, 150px); */
    /* grid-auto-rows: 100px; */
    grid-gap: 2vw;
}

.lesson9-s1 .grid>div {
    font-size: 5vw;
    padding: .5em;
    background: #2196F3;
    /* text-align: center; */
    display: flex;
    justify-content: center;
}

/* ===================================
=== .lesson9-s3 */

.lesson9-s3 .grid {
    display: grid;
    grid-gap: 2vw;
    border: 1px solid black;
    margin: 10px;
}

.lesson9-s3 .grid>div {
    font-size: 5vw;
    padding: .5em;
    background: gold;
    text-align: center;
}

.auto-fill {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.auto-fit {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

/* ===================================
=== .lesson9-s4 */

.lesson9-s4 .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100vh;
    grid-gap: 10px;
    align-items: center;
    background-color: beige;
}

.lesson9-s4 .grid>div {
    padding: 20px;
    font-size: 4vw;
    color: white;
}

.lesson9-s4 .red {
    background: orangered;
    height: 40%;
    /* align-self: baseline; */
}

.lesson9-s4 .green {
    background: yellowgreen;
    height: 60%;
}

.lesson9-s4 .blue {
    background: steelblue;
    height: auto;
    /* align-self: stretch; */
}

/* ===================================
=== .lesson9-s5 */

.lesson9-s5 .grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
    justify-items: center;
    background-color: beige;
}

.lesson9-s5 .grid>div {
    padding: 20px;
    font-size: 4vw;
    color: white;
    width: 20%;
}

.lesson9-s5 .red {
    background: orangered;
    /* justify-self: end; */
}

.lesson9-s5 .green {
    background: yellowgreen;
}

.lesson9-s5 .blue {
    background: steelblue;
    /* justify-self: start; */
}

/* ===================================
=== .lesson9-s10 */

.lesson9-s10 .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 90vh;
    background-color: beige;
}

.lesson9-s10 .grid>div {
    padding: 20px;
    font-size: 4vw;
    color: white;
}

.lesson9-s10 .red {
    background: orangered;
}

.lesson9-s10 .green {
    background: yellowgreen;
    position: relative;
    left: -20vw;
    top: 20vh;
}

.lesson9-s10 .blue {
    background: steelblue;
    position: relative;
    left: -40vw;
    top: 5vh;
}

/* order */

/* .lesson9-s10 .red {
    background: orangered;
    position: relative;
    left: -20vw;
    top: 20vh;
    order: 2;
}

.lesson9-s10 .green {
    background: yellowgreen;
    position: relative;
    left: -40vw;
    top: 5vh;
    order: 3;
}

.lesson9-s10 .blue {
    background: steelblue;
    top: 5vh;
    order: 1;
} */

/* z-index */

/* .red {
    background: orangered;
    z-index: 3;
}

.green {
    background: yellowgreen;
    position: relative;
    left: -20vw;
    top: 20vh;
    z-index: 1;
}

.blue {
    background: steelblue;
    position: relative;
    left: -40vw;
    top: 5vh;
    z-index: 2;
} */

/* ===================================
=== .lesson9-s11 */

.outer-grid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 8px;
}

.outer-grid>div {
    background-color: limegreen;
    color: white;
    font-size: 4vw;
    padding: 8px;
}

.inner-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
}

.inner-grid>div {
    background: lightgreen;
    padding: 8px;
}

/* ===================================
=== .lesson9-s11 */

.myForm {
    display: grid;
    grid-template-columns: [labels] auto [controls] 1fr;
    grid-auto-flow: row;
    grid-gap: .8em;
    background: #4caf50;
    padding: 1.2em;
}

.myForm>label {
    grid-column: labels;
    grid-row: auto;
}

.myForm>input, .myForm>textarea {
    grid-column: controls;
    grid-row: auto;
}

.myForm>button {
    grid-column: span 2;
}