li:hover {
    color: blueviolet;
    font-size: 24pt;
}
li:focus {
    color: brown;
}
ul:focus-within {
    border: 1px dotted hotpink;
    border-radius: 5px;
}

/* div {
    width: 100px;
    height: 50px;
} */

/* div:empty {
    background-color: red;
}
div:blank {
    background-color: green;
} */
img::after {
    content: attr(data-name);
}
.ad {
    height: 100px;
    width: 200px;
    background-color: indianred;
    position: relative;
}
.controls {
    top: 0;
    right:0;
    position: absolute;
}