// COLORS
$primary-color:rgb(27, 19, 19);
$secondary-color:rgb(82, 26, 238);
$third-color:rgb(10, 153, 46);

// FONT_SIZES
$huge-text:24px;
$tiny-text:12px;

// FONTS
$primary-font: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;