* {
    box-sizing: border-box;
    -webkit-transform: translate3d(0, 0, 0);
}

body {
    background-color: #e7e7e7;
}

.lesson7 {
    margin: 30px 0 30px;
    color: white;
}

.container {
    /* width: 1000px; */
    max-width: 1000px;
    margin: auto;
    background-color: rgb(60 59 59);
    padding: 20px;
}

.input-row {
    margin: 10px 0 10px;
}