* {
    box-sizing: border-box;
}

body {
    background-color: black;
}

h2 {
    font-family: ;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
}

h3 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
}

p {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
}

.container {
    /* border: 1px solid black; */
    background-color: white;
    width: 1400px;
    margin: auto;
}

.our-process {
    width: 100%;
}

.our-process .heading-line {
    border-bottom: 1px solid #E72424;
}

.our-process .heading-title {
    padding-top: 100px;
}

.heading-title {
    text-align: center;
}

.heading-line {
    border-bottom: 1px solid black;
    width: 64px;
    margin: 25px auto 0;
    color: #212121;
}

.heading-description {
    color: #86878B;
    text-align: center;
    margin-top: 30px;
}

.cart-block {
    width: 1110px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 68px;
    padding-bottom: 88px;
}

.cart-block__item {
    width: 350px;
    height: 225px;
}

.cart-block__circle {
    width: 70px;
    height: 70px;
    border: 1px solid #E72424;
    border-radius: 35px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-block__title {
    margin-top: 30px;
    text-align: center;
    color: #333333;
}

.cart-block__text {
    text-align: center;
    color: #000000;
    margin-top: 16px;
}

.design>.container {
    background-image: url(../images/design_background.png);
}

.design-content {
    background: rgb(0 0 0 / 55%);
    height: 325px;
}

.design-content .heading-title {
    color: white;
    padding-top: 58px;
}

.design-content .heading-line {
    border-bottom: 1px solid white;
}

.design-content .heading-description {
    font-family: Raleway;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.8);
}

.design-button {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    margin: 57px auto 38px;
    width: 135px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: 1px solid #FFFFFF;
    cursor: pointer;
}

.footer {
    width: 100%;
}

.footer .container {
    background-color: black;
}

.footer .social-icons {
    width: 317px;
    margin: auto;
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.7rem;
    color: #CCCCCC;
}
.footer .social-icons i{
    cursor: pointer;
}

.footer .copyright {
    margin-top: 18px;
    padding-bottom: 15px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
}