* {
    box-sizing: border-box;
}

li:hover {
    font-size: 24pt;
    color:blue;
}
li:focus {
    color:red;
}
/* li:first-child {
    border: 1px solid yellow;
} */
li:nth-child(odd) {
    /* color: grey; */
    background-color: #ccc;
}
/* ul:focus-within {
    border: 1px solid black;
} */
/* :checked
:disabled
div:empty
:blank */
/* :nth-last-child() */
button:nth-of-type(2) {
    color: red;
}
/* :nth-last-of-type() */



/* задание на уроке */
/* a:hover:not(.active) {
    background-color: #ccc;
  }
  ol:not(.list) a {
    padding-left:50px;
  }
  ol:not(.list) li:nth-child(odd) {
    background-color:rgba(0,0,0,.1);
  }
  .active {
    color:red;
  } */

  /* псевдоэлементы */


.content::before {
    content:"Marry ";
}
.content::after {
    content: "!";
}
/* ::placeholder
::selection
::first-letter
::first-line */


/* position:sticky */
